@font-face {
  font-family: 'PTSans';
  src: url('fonts/pts56f.eot');
  src: url('fonts/pts56f.eot?#iefix') format('embedded-opentype'),
       url('fonts/pts56f.woff') format('woff'),
       url('fonts/pts56f.ttf') format('truetype'),
       url('fonts/pts56f.svg#pts56f') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'PFAgoraSansPro';
  src: url('fonts/pfagorasanspromedium.eot');
  src: url('fonts/pfagorasanspromedium.eot?#iefix') format('embedded-opentype'),
       url('fonts/pfagorasanspromedium.woff') format('woff'),
       url('fonts/pfagorasanspromedium.ttf') format('truetype'),
       url('fonts/pfagorasanspromedium.svg#pfagorasanspromedium') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'PFAgoraSansPro';
  src: url('fonts/pfagorasansproreg.eot');
  src: url('fonts/pfagorasansproreg.eot?#iefix') format('embedded-opentype'),
       url('fonts/pfagorasansproreg.woff') format('woff'),
       url('fonts/pfagorasansproreg.ttf') format('truetype'),
       url('fonts/pfagorasansproreg.svg#pfagorasansproreg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PFAgoraSansPro';
  src: url('fonts/pfagorasansprolight.eot');
  src: url('fonts/pfagorasansprolight.eot?#iefix') format('embedded-opentype'),
       url('fonts/pfagorasansprolight.woff') format('woff'),
       url('fonts/pfagorasansprolight.ttf') format('truetype'),
       url('fonts/pfagorasansprolight.svg#pfagorasansprolight') format('svg');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'PFAgoraSansPro';
  src: url('fonts/pfagorasansproitalic.eot');
  src: url('fonts/pfagorasansproitalic.eot?#iefix') format('embedded-opentype'),
       url('fonts/pfagorasansproitalic.woff') format('woff'),
       url('fonts/pfagorasansproitalic.ttf') format('truetype'),
       url('fonts/pfagorasansproitalic.svg#pfagorasansproitalic') format('svg');
  font-weight: normal;
  font-style: italic;
}