@import "less/reset.less";
@import "less/mixins.less";
@import "less/fonts.less";

/*

  Mixins:

  .clearfix();
  .center-block();
  .border-radius(@radius: 5px);
  .box-shadow(@shadow);
  .rotate(@degrees);
  .box-sizing(@boxmodel);
  .opacity(@opacity);
  .horizontal_gradient(@startColor: #555, @endColor: #333);
  .vertical(@startColor: #555, @endColor: #333);

  Fonts:

  - PTSans: italic
  - PFAgoraSansPro: regular bold lighter italic

*/

.wrap {
  width: 970px;
  .center-block();
}

.b_sitename {
  font: 36px/45px 'PFAgoraSansPro';
  text-transform: uppercase;
}

.b_sitephone {
  .b_sitename;
  font-weight: lighter;
  span {
    font-size: 30px;
  }
}

.b_order_bell {
  color: #31711d;
  a {
    color: #31711d;
    text-decoration: none;
    &:hover {
      span {border-bottom: none;}
    }
  }
  .b_icon {
    float: left;
    margin: 4px 7px 0 0;
  }
  span {
    border-bottom: 1px dotted #31711d;
  }
}

.b_icon {
  background: url('i/img.png') no-repeat;
  display: inline-block;
  &.icon1 {
    background-position: 0px 0px;
    width: 16px;
    height: 7px;
  }
  &.icon2 {
    background-position: -16px 0px;
    width: 5px;
    height: 8px;
  }
  &.icon3 {
    background-position: -21px 0px;
    width: 15px;
    height: 16px;
  }
  &.icon4 {
    background-position: -36px 0px;
    width: 19px;
    height: 13px;
  }
  &.icon5 {
    background-position: 0px -16px;
    width: 68px;
    height: 24px;
  }
  &.icon6 {
    background-position: 0px -55px;
    background-repeat: repeat-x;
    width: 100%;
    height: 9px;
  }
  &.icon7 {
    background-position: 0px -79px;
    background-repeat: repeat-x;
    width: 100%;
    height: 9px;
  }
  &.icon8 {
    background: url('i/noise.png') repeat;
    display: block;
    .layer {
      background: url('i/shad.png') no-repeat top center;
    }
  }
  &.icon9 {
    background: #f7f7f7 url('i/shad1.png') no-repeat top center;
    display: block;
  }
}

.b_order {
  .wrap {
    height: 394px;
    position: relative;
    img.image {
      position: absolute;
      right: 35px;
      bottom: 0px;
      z-index: 3000;
    }
    .form {
      float: left;
      .title {
        font: 28px/24px 'PFAgoraSansPro';
        font-weight: lighter;
        margin: 30px 0 12px;
        big {
          font-size: 36px;
          text-transform: uppercase;
        }
      }
      .field {
        margin-bottom: 4px;
      }
      input[type="text"], textarea {
        width: 275px;
        .box-sizing(border-box);
        .opacity(85);
        background: #f8f8f6;
        border: 1px solid #b1baae;
        .border-radius(3px);
        font: italic 14px/18px 'PTSans';
        .box-shadow(inset 2px 2px 10px rgba(0, 0, 0, 0.1));
        color: #868686;
        padding: 7px 9px;
      }
    }
  }
}

.b_title {
  font: lighter 48px/30px 'PFAgoraSansPro';
  height: auto !important;
  text-align: center;
  background-position: 0 -47px !important;
  span {
    background: url('i/noise.png') repeat;
    padding: 0 20px;
  }
}

.b_tabs {
  text-align: center;
  li {
    display: inline-block;
    padding: 5px 10px 3px;
    margin: 0 0 0 15px;
    font: 18px/18px 'PFAgoraSansPro';
    a {
      color: #317a1b;
      text-decoration: none;
      border-bottom: 1px dashed #317a1b;
      &:hover {
        border-bottom: none;
      }
    }
    &.active {
      background: #fff;
      .border-radius(7px);
      .box-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
      a {
        border: none;
        color: #000;
      }
    }
  }
}

.b_step {
  width: 230px;
  display: inline-block;
  font: lighter 14px/18px 'PFAgoraSansPro';
  .title {
    font: italic 30px/36px 'PFAgoraSansPro';
  }
  .image {
    .border-radius(100px);
    .box-shadow(0px 0px 15px rgba(0, 0, 0, 0.25));
    margin: 10px 0px 10px -13px;
  }
  h5 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  p {
    margin-bottom: 10px;
  }
  a {
    color: #31711d;
    text-decoration: none;
    &:hover {
      span {border-bottom: none;}
    }
    span {
      border-bottom: 1px dotted #31711d;
    }
  }
  .b_icon {
    margin: 0;
  }
}

.b_price {
  text-align: center;
  font: lighter 18px/36px 'PFAgoraSansPro';
  span {
    font-weight: bold;
  }
  big {
    display: block;
    font-size: 30px;
    span {
      font-size: 60px;
    }
  }
}

.b_box {
  width: 399px;
  height: 156px;
  background: url('i/box.bg.png') no-repeat top left;
  position: relative;
  .box {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  ul {
    list-style: outside disc;
    font: lighter 15px/16px 'PFAgoraSansPro';
    margin: 0 10px 0 160px;
    padding: 40px 0 0 0;
    big {
      font-size: 20px;
    }
    li {
      margin-bottom: 10px;
    }
  }
}

.b_more {
  .title {
    font: lighter 24px/26px 'PFAgoraSansPro';
    margin-bottom: 4px;
    .b_icon {
      vertical-align: -1px;
    }
  }
  p {
    font: italic 14px/18px 'PFAgoraSansPro';
    margin: 0 0 5px;
  }
  dl {
    .clearfix;
    border-bottom: 1px dashed #ccc;
    font: lighter 14px/18px 'PFAgoraSansPro';
    padding: 5px 0px 0px;
    dt {
      float: right;
    }
    dd {
      float: left;
      input {
        margin: 0 3px 0 0;
        vertical-align: 1px;
      }
    }
    span {
      font-weight: bold;
      font-size: 18px;
    }
  }
  &.hiden {
    .title {
      cursor: pointer;
      color: #316f1e;
      span {
        border-bottom: 1px dotted #316f1e;
      }
      &:hover span {
        border: none;
      }
    }
    dl {display: none;}
    p {display: none;}
  }
  &.show {
    dl {display: block;}
    p {display: block;}
    .b_icon {
      .rotate(180deg);
    }
  }
}

.b_addr {
  font: lighter 14px/18px 'PFAgoraSansPro';
  .title {
    font-size: 20px;
    line-height: 26px;
  }
  .b_icon {
    vertical-align: -1px;
  }
}

.b_copyright {
  font: lighter 12px/18px 'PFAgoraSansPro';
}

.b_time {
  font: lighter 16px/18px 'PFAgoraSansPro';
  color: #2c8312;
}

.b_map {
  background: url('i/pre_map.png') no-repeat top center;
  padding: 30px 0 0;
  #yandex {
    width: 980px;
    height: 50px;
    overflow: hidden;
    img {display: block;}
    .center-block();
  }
  .after_map {
    width: 980px;
    .center-block();
    height: 59px;
    margin-top: -10px;
    cursor: pointer;
  }
}



// Carcas
hr {border: none;}
header {
  background: #f7f7f7;
  padding: 30px 0 50px 0;
  .col1 {
    float: left;
    width: 450px;
  }
  .col2 {
    float: left;
    width: 280px;
  }
  .col3 {
    float: right;
  }
  .b_order_bell {
    margin-top: 10px;
  }
}

footer {
  padding: 45px 0 50px 0;
  .col1 {
    float: left;
    width: 370px;
  }
  .col2 {
    float: left;
    width: 340px;
  }
  .col3 {
    float: right;
  }
  hr {
    margin: 35px 0 15px 0;
  }
  .b_map {
    margin-top: 20px;
  }
}

section {
  padding: 0 0 30px;
  .col1 {
    float: left;
    width: 475px;
  }
  .col2 {
    float: right;
  }
  .col_button {
    text-align: center;
  }
  .b_more {
    margin-bottom: 30px;
  }
  hr {
    margin: 10px 0 40px;
  }
  .steps {
    vertical-align: middle;
    padding: 45px 0 40px 0;
    .icon5 {
      vertical-align: 215px;
    }
  }
  .b_step {
    margin-left: 50px;
    &:first-child {
      margin-left: 0px;
    }
  }
  .b_tabs {
    margin: 30px 0 0 0;
  }
  .b_title {
    margin: 40px 0 0 0;
  }
}




















